In [28]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor

In [5]:
dataSet = pd.read_csv('Datasets/USA_cars_datasets.csv')

In [9]:
dataSet.columns

Index(['Unnamed: 0', 'price', 'brand', 'model', 'year', 'title_status',
       'mileage', 'color', 'vin', 'lot', 'state', 'country', 'condition'],
      dtype='object')

In [10]:
dataSet.head()

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left

In [15]:
dataSet.shape

(2499, 13)

In [17]:
predictTarget = dataSet['price']

In [18]:
predictTarget

0        6300
1        2899
2        5350
3       25000
4       27700
        ...
2494     7800
2495     9200
2496     9200
2497     9200
2498     9200
Name: price, Length: 2499, dtype: int64

In [36]:
features = ['mileage', 'year']

In [37]:
X = dataSet[features]

In [48]:
X_train, X_val, Y_train, Y_val = train_test_split(X, predictTarget, test_size=0.20, random_state=1)

In [111]:
def get_mae(leaf, val):
    model = DecisionTreeRegressor(max_leaf_nodes=leaf, random_state=1)
    model.fit(X_train, Y_train)
    val_predictions = model.predict(val)
    val_mae = mean_absolute_error(val_predictions, Y_val)
    return val_mae

In [112]:
from sklearn.metrics import mean_absolute_error
a = []

In [113]:
for i in [5,10,50,100,1000]:
    a.append([get_mae(i, X_val), i])
a.sort()
print(a)

[[7870.883502714921, 5], [8128.61159584103, 10], [8516.646165509754, 50], [8786.329160919067, 100], [10944.09898696576, 1000]]